
<!--Эта страница принимает модели таких типов как-->
@model FirstWebPage.Models.ArticleModel

<div class="document">
    <div>&nbsp;</div>
    <div class="dochead">
        <span class="dhead">@Model.Title</span>
    </div>
    <div>
        <p class="post"><span>@Model.Date.ToString("D")</span> <span>@Model.Date.ToString("hh:mm")</span></p>
    </div>
    <div class="dcontent">
        @Html.Raw(Model.Body)
    </div>
    <div class="bubble" align="right">
        <ul>
            @foreach (var item in Model.Likes)
            {
                <li><a href="#"><img src="~/Content/images/facebook-24.png" /><span>item.LikesCount</span></a></li>
            }
            <!--<li><a href="#"><img src="~/Content/images/facebook-24.png" /><span>355</span></a></li>
             <li><a href="#"><img src="~/Content/images/twitter-24.png" /><span>277</span></a></li>
             <li><a href="#"><img src="~/Content/images/bootstrap-24.png" /><span>788</span></a></li>-->
        </ul>
    </div>
</div>
<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>

<div class="comments-add">
    <div>&nbsp;</div>
    <div class="сomments-title">
        <span class="dhead">Комментарии</span>
    </div>
    <div class="comments-content">
        <ul class="list-comment">
            @foreach (string item in Model.Comments)
            {
                <li>
                     
                     <div class="avatar"><img src="~/Content/images/4tpTxSHyrlI.jpg" width="100px" height="100px" alt="" /></div>
                     <div class="comments-text">
                        <h4><span>Логин</span><span class="mail">dfg@df.dfg</span></h4>
                        <span class="date">@DateTime.Now.Date.ToString("D")</span><span class="date">@DateTime.Now.Date.ToString("hh:mm")</span>
                        <p>@item</p>
                    </div>
                </li>
                <hr>
            }


        </ul>
        @Html.Partial("~/Views/Home/AddComment.cshtml", null, new ViewDataDictionary())
    </div>
</div>
<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>
